/*Variables*/
/* line 6, ../../../OneDrive - VENG SA/Documentos/Web-Dev/Entrega_final/sass/styles.scss */
* {
  margin: 0;
  padding: 0;
}

/*Menu */
/* line 13, ../../../OneDrive - VENG SA/Documentos/Web-Dev/Entrega_final/sass/styles.scss */
header .fondoMenu {
  background-color: #1AACAC;
}

/* line 20, ../../../OneDrive - VENG SA/Documentos/Web-Dev/Entrega_final/sass/styles.scss */
.navbar-light .navbar-nav .nav-link {
  color: white;
}

/* line 25, ../../../OneDrive - VENG SA/Documentos/Web-Dev/Entrega_final/sass/styles.scss */
.navbar-light .navbar-collapse {
  flex-grow: 0;
}

/* line 30, ../../../OneDrive - VENG SA/Documentos/Web-Dev/Entrega_final/sass/styles.scss */
.navbar-light .navbar-nav .nav-link:hover {
  background-color: #362FD9;
  /* color: #1AACAC; */
  color: #D9F7F7;
  border-radius: 10px;
}

/*body -> tarjetas de productos*/
/* line 38, ../../../OneDrive - VENG SA/Documentos/Web-Dev/Entrega_final/sass/styles.scss */
.col {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* line 43, ../../../OneDrive - VENG SA/Documentos/Web-Dev/Entrega_final/sass/styles.scss */
.col .card-img-top {
  padding: 5px;
  height: 325px;
}

/* line 52, ../../../OneDrive - VENG SA/Documentos/Web-Dev/Entrega_final/sass/styles.scss */
.container .titulo-contactanos {
  display: flex;
  justify-content: center;
}

/* line 58, ../../../OneDrive - VENG SA/Documentos/Web-Dev/Entrega_final/sass/styles.scss */
.container .contactanos-div {
  display: flex;
  justify-content: center;
}

/* line 62, ../../../OneDrive - VENG SA/Documentos/Web-Dev/Entrega_final/sass/styles.scss */
.container .contactanos-div .formulario {
  width: 40%;
  margin: 0 50px 0 50px;
}

/* line 66, ../../../OneDrive - VENG SA/Documentos/Web-Dev/Entrega_final/sass/styles.scss */
.container .contactanos-div .formulario span {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

/* line 72, ../../../OneDrive - VENG SA/Documentos/Web-Dev/Entrega_final/sass/styles.scss */
.container .contactanos-div .formulario .btn-enviar {
  display: flex;
  justify-content: right;
}

/* line 78, ../../../OneDrive - VENG SA/Documentos/Web-Dev/Entrega_final/sass/styles.scss */
.container .contactanos-div .mapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 0 50px 0 50px;
}

/*footer */
/* line 92, ../../../OneDrive - VENG SA/Documentos/Web-Dev/Entrega_final/sass/styles.scss */
footer {
  background-color: #1AACAC;
}

/* line 95, ../../../OneDrive - VENG SA/Documentos/Web-Dev/Entrega_final/sass/styles.scss */
footer .logos_footer {
  display: flex;
  justify-content: center;
}

/* line 99, ../../../OneDrive - VENG SA/Documentos/Web-Dev/Entrega_final/sass/styles.scss */
footer .logos_footer li {
  list-style-type: none;
}

/* line 102, ../../../OneDrive - VENG SA/Documentos/Web-Dev/Entrega_final/sass/styles.scss */
footer .logos_footer li a {
  text-decoration: none;
}

/* line 105, ../../../OneDrive - VENG SA/Documentos/Web-Dev/Entrega_final/sass/styles.scss */
footer .logos_footer li a .bi {
  color: black;
  font-size: 30px;
  margin: 10px;
}

@media (max-width: 1200px) {
  /* line 118, ../../../OneDrive - VENG SA/Documentos/Web-Dev/Entrega_final/sass/styles.scss */
  .container .contactanos-div {
    flex-direction: column;
    align-items: center;
  }
  /* line 122, ../../../OneDrive - VENG SA/Documentos/Web-Dev/Entrega_final/sass/styles.scss */
  .container .contactanos-div .formulario {
    width: auto;
    margin: 0 0px 0 0px;
  }
}

/*# sourceMappingURL=styles.css.map */